pipeline/PL_CHILDPIPELINE.json
{
	"name": "PL_CHILDPIPELINE",
	"properties": {
		"activities": [
			{
				"name": "Lookup_MAX_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_NEW_RECORD_EXISTS",
				"description": "Run Copy Activity if :\nLastLoadValue IS NULL then initiate full load",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_MAX_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string",
				"defaultValue": "@item().TableSchema"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "@item().TableName"
			},
			"WatermarkColumn": {
				"type": "string",
				"defaultValue": "@item().WatermarkColumn"
			},
			"LastLoadValue": {
				"type": "string",
				"defaultValue": "@item().LastLoadValue"
			}
		},
		"annotations": []
	}
}