pipeline/PL_PARENTPIPELINE_ORCHESTRATION.json
{
	"name": "PL_PARENTPIPELINE_ORCHESTRATION",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLTABLE_WATRMRK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TABLE_LKUP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_SQLTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLTABLE_WATRMRK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLTABLE_WATRMRK_DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Exec_SQL_Incremental_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILDPIPELINE_INCREMENTAL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": "@item().TableSchema",
									"TableName": "@item().TableName",
									"WatermarkColumn": "@item().WatermarkColumn",
									"LastLoadValue": "@item().LastLoadValue"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"annotations": []
	}
}