pipeline/PL_PARENTPIPELINE.json
{
	"name": "PL_PARENTPIPELINE",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLTABLE_WATRMRK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TABLE_LKUP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_SQLTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLTABLE_WATRMRK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLTABLE_WATRMRK_DW').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILDPIPELINE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}